.App {
  text-align: center;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#nav-container
{
  background-color: #364682;
}

#myVideo {
  min-height: 100%;
  height: 850px;
  z-index:0;
}

#lesson-page-div
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#earth-icon {
  position: relative;
  height: 300px;
  width:300px;
  bottom: 750px;
  right: 400px;
  z-index: 1;
}

#nav-logo
{
  position: relative;
  font-family: "Comic Gecko";
  right: 40px;
  font-size: 32px;
}

.question-container
{
  display:flex;
  justify-content: center;
  text-align: left;
}

a
{
  text-decoration: none !important;
}

#user-display
{
  position: relative;
  top: 10px;
  margin-right: 15px;
}


#points-display
{
  position: relative;
  display: flex;
  top: 12px;
  margin-right: 15px;
}

#coin-display
{
  position: relative;
  height:18px;
  margin-right: 7px;
  top: 1px;
}

.lessons-container
{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  left: 80px;
  bottom: 60px;
}

.card-flag
{
  position: relative;
  height:30px;
  bottom: 5px;
}

.lesson-work-page
{
  font-family: "Campton Semibold";
  position: relative;
  top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#lesson-progress
{
  width: 75%;
  position: relative;
  left: 200px;
}

#lesson-header
{
  margin-top: 20px;
  margin-bottom: 25px;
}

.lesson-card
{
  font-family: "Campton Semibold";
  margin-right: 140px;
  display: flex;
  margin-top: 50px;
}

#language-title
{
  font-family: "Campton Semibold";
  margin-top: 30px;
}

.card-title
{
  justify-content: center;
}

#logout-display
{
  display: flex;
  font-family: "Campton Semibold";
  color:white;
}

#text-container
{
  position: relative;
  justify-content: center;
  white-space: wrap;
  bottom: 1000px;
  width: 650px;
  left: 580px;
  font-family: "Campton Semibold";
  color: white;
  z-index: 1;
  resize: none;
}

#nav-login
{
  font-family: "Campton Semibold";
}

#user-display
{
  font-family: "Campton Semibold";
  color:white;
}

#button-div
{
  display:flex;
  position: relative;
  left: 15%;
}

.login-buttons
{
  margin-left: 20px;
  margin-right: 20px;
  width: 30%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
