.App {
  text-align: center;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#nav-container
{
  background-color: #364682;
}

#myVideo {
  min-height: 100%;
  height: 850px;
  z-index:0;
}

#earth-icon {
  position: relative;
  height: 300px;
  width:300px;
  bottom: 750px;
  right: 400px;
  z-index: 1;
}

#nav-logo
{
  position: relative;
  font-family: "Comic Gecko";
  right: 40px;
  font-size: 32px;
}

#text-container
{
  position: relative;
  justify-content: center;
  white-space: wrap;
  bottom: 1000px;
  width: 650px;
  left: 580px;
  font-family: "Campton Semibold";
  color: white;
  z-index: 1;
  resize: none;
}

#nav-login
{
  font-family: "Campton Semibold";
}

#button-div
{
  display:flex;
  position: relative;
  left: 15%;
}

.login-buttons
{
  margin-left: 20px;
  margin-right: 20px;
  width: 30%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
